body{
    background: rgb(250, 247, 247);
    color: purple;
    margin-left: 20px;
}
p{
    margin-left: 20px;
    word-spacing:normal;



}
button{
    margin-left: 80px;
    color: blue;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    background-color: rgb(235, 240, 241);    
    border-radius: 10px;
    
}
button:hover{
    background-color: orange;
    opacity: 12px;
    
}
.Form-group input{
    width: 050%;
    margin-top: 5px;
    height: 25px;
    border: radius 7px;
   

}
.Form-group select{
    width: 052%;
    margin-top: 5px;
    height: 30px;
    border: radius 7px;
   

}
.Fname input{
    width: 35%;
}
.Fname{
    margin-left: 0px;
}
.Phone input{
    width: 35%;
}
.Phone{
    margin-left: 0px;
}
.Email input{
    width: 50%;
}
.Email{
    margin-left: 0px;
}
.Password input{
    width: 50%;
}
.Password{
    margin-left: 0px;
}
.Confirm-password input{
    width: 50%;
}
.Confirm-password{
    margin-left: 0px;
}      
.gender select{
    width: 52%;
}
.gender{
    margin-left: 0px;
}
button{
    cursor: pointer;
}
h1{
    color: purple;
    margin: 10px;

}

h3{
    color: blue;
    margin-left: 20px;
}
header{
    background-color: rgb(235, 240, 241);
    padding: 10px;
    border-radius: 10px;
    width: 400px;
    margin-left: 20px;
}
header:hover{
    background-color: orange;
    opacity: 12px;
}
a{
    text-decoration: none;
    color: blue;
    margin-left: 20px;
}
a:hover{
    color: red;
}
a:active{
    color: green;
}
a:visited{
    color: purple;
}
form{
    background-color: white;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
}
input{
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;    
    padding-right: 5px;
    background-color: rgb(235, 240, 241);
    border-radius: 7px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
}   
input:focus{
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}
input::placeholder{
    color: #999;
}
input[type="submit"]{
    background-color: purple;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color: blue;
}

input[type="submit"]:active{
    background-color: red;
}
input[type="submit"]:focus{
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}
select{
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;    
    padding-right: 5px;
    background-color: rgb(235, 240, 241);
    border-radius: 7px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
}
select:focus{
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

select option{
    color: #333;
}
