body{
  color: white;
  text-align: center;
  height: 100vh;
}
h1{
    color:chartreuse;
}
pre{
    color: hwb(120 4% 3%);
}
pre:hover{

    opacity: 12px;
}
h2{
    color: chartreuse;
}
#welcome{
    height: 100%;
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-image:url('/frontend/wallpaper.png');
  background-size: cover;
}
#about{
    height: 100%;
    background-image:url(/frontend/pic2.png);
    background-size: cover;
    image-orientation:flip;
    background-position: center;
}
#testimonials{
    height: 100%;
}