body{

    background-image: url('/frontend/64b857e911da46644d3be848497ce32b_0.jpeg'); 
    background-size: cover;
    color: purple;  
    margin-left: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transform: scale(100%);

}
p{
    margin-left: 20px;
    word-spacing:normal;
    text-decoration-color: aliceblue;

}
button{
    margin-left: 80px;
    color: blue;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    background-color: rgb(235, 240, 241);    
    border-radius: 10px;

}
button:hover{
    background-color: orange;
    opacity: 12px;

}
.Form-group input{
    width: 050%;
    margin-top: 5px;
    height: 25px;
    border: radius 7px;

}
h1{
    text-align: center;
    color: blue;
}
h3{
    text-align: center;
    color: brown;
}
header{
    background-color: lightgrey;
    padding: 10px;
    text-align: center;
}
header:hover{
    background-color: grey;
    opacity: 10px;
}
a{
    margin-left: 20px;
    color: blue;
}
a:hover{
    color: red;
    opacity: 10px;
}
h2{
    text-align: center;
    color: green;
}
h4{
    text-align: center;
    color: maroon;
}
h5{
    text-align: center;
    color: olive;
}
h6{
    text-align: center;
    color: teal;
}
form{
    opacity: 10px;
    width: 350px;
    border: 2px solid black;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
}
/* form:hover{ 
    background-color: lightblue;
    opacity: 10px;
}*/


input{
    border-radius: 7px;
}


label{
    margin-left: 20px;
    color: brown;
}
label:hover{
    color: red;
    opacity: 10px;
}
select{
    border-radius: 7px;
}
option{
    border-radius: 7px;
}
option:hover{
    background-color: lightgreen;
    opacity: 10px;
}
textarea{
    border-radius: 7px;
}
textarea:hover{
    background-color: lightyellow;
    opacity: 10px;
}
fieldset{
    border-radius: 10px;
}
fieldset:hover{
    background-color: lightgrey;
    opacity: 10px;
}
legend{
    color: purple;
}
legend:hover{
    color: red;
    opacity: 10px;
}
hr{
    border: 1px solid black;
}
hr:hover{
    border: 2px solid red;
    opacity: 10px;
}
::-webkit-input-placeholder {
    color: grey;
}
::-moz-placeholder {
    color: grey;
}
:-ms-input-placeholder {
    color: grey;
}
:-moz-placeholder {
    color: grey;
}
::-webkit-input-placeholder:hover {
    color: red;
    opacity: 10px;
}
::-moz-placeholder:hover {
    color: red;
    opacity: 10px;
}

:-ms-input-placeholder:hover {
    color: red;
    opacity: 10px;
}
:-moz-placeholder:hover {
    color: red;
    opacity: 10px;
}
button:active{
    transform: scale(0.98);
}
input:focus{
    background-color: lightyellow;
}
input:hover{
    background-color: lightgreen;
    opacity: 10px;
}
select:hover{
    background-color: lightgreen;
    opacity: 10px;
}
option:hover{
    background-color: lightgreen;
    opacity: 10px;
}

textarea:hover{
    background-color: lightyellow;
    opacity: 10px;
}
fieldset:hover{
    background-color: lightgrey;
    opacity: 10px;
}
legend:hover{
    color: red;
    opacity: 10px;
}
hr:hover{
    border: 2px solid red;
    opacity: 10px;
}
a:visited{
    color: purple;
}
a:visited:hover{
    color: red;
    opacity: 10px;
}
button:focus{
    background-color: lightyellow;
}
button:hover{
    background-color: lightgreen;
    opacity: 10px;
}
button:active{
    transform: scale(0.98);
}
input:focus{
    background-color: lightyellow;
}
input:hover{
    background-color: lightgreen;
    opacity: 10px;
}
select:hover{
    background-color: lightgreen;
    opacity: 10px;
}
option:hover{
    background-color: lightgreen;
    opacity: 10px;
}
textarea:hover{
    background-color: lightyellow;
    opacity: 10px;
}
fieldset:hover{
    background-color: lightgrey;
    opacity: 10px;
}
legend:hover{
    color: red;
    opacity: 10px;
}
hr:hover{
    border: 2px solid red;
    opacity: 10px;
}
a:visited{
    color: purple;
}
a:visited:hover{
    color: red;
    opacity: 10px;
}
button:focus{
    background-color: lightyellow;
}
button:hover{
    background-color: lightgreen;
    opacity: 10px;
}
button:active{
    transform: scale(0.98);
}
input:focus{
    background-color: lightyellow;
}
input:hover{
    background-color: lightgreen;
    opacity: 10px;
}
select:hover{
    background-color: lightgreen;
    opacity: 10px;
}
option:hover{
    background-color: lightgreen;
    opacity: 10px;
}
textarea:hover{
    background-color: lightyellow;
    opacity: 10px;
}
fieldset:hover{
    background-color: lightgrey;
    opacity: 10px;
}
legend:hover{
    color: red;
    opacity: 10px;
}


hr:hover{
    border: 2px solid red;
    opacity: 10px;
}
a:visited{
    color: purple;
}
a:visited:hover{
    color: red;
    opacity: 10px;
}
button:focus{
    background-color: lightyellow;
}
button:hover{
    background-color: lightgreen;
    opacity: 10px;
}
button:active{
    transform: scale(0.98);
}

input:focus{
    background-color: lightyellow;
}
input:hover{
    background-color: lightgreen;
    opacity: 10px;
}

select:hover{
    background-color: lightgreen;
    opacity: 10px;
}
option:hover{
    background-color: lightgreen;
    opacity: 10px;
}

textarea:hover{
    background-color: lightyellow;
    opacity: 10px;
}
fieldset:hover{
    background-color: lightgrey;
    opacity: 10px;
}
legend:hover{
    color: red;
    opacity: 10px;
}
hr:hover{
    border: 2px solid red;
    opacity: 10px;
}
a:visited{
    color: purple;
}

a:visited:hover{
    color: red;
    opacity: 10px;
}
button:focus{
    background-color: lightyellow;
}


button:hover{
    background-color: lightgreen;
    opacity: 10px;
}
button:active{
    transform: scale(0.98);
}
input:focus{
    background-color: lightyellow;
}
input:hover{
    background-color: lightgreen;
    opacity: 10px;
}
select:hover{
    background-color: lightgreen;
    opacity: 10px;
}
option:hover{
    background-color: lightgreen;
    opacity: 10px;
}
textarea:hover{
    background-color: lightyellow;
    opacity: 10px;
}
fieldset:hover{
    background-color: lightgrey;
    opacity: 10px;
}
legend:hover{
    color: red;
    opacity: 10px;
}
hr:hover{
    border: 2px solid red;
    opacity: 10px;
}
a:visited{
    color: purple;
}
a:visited:hover{
    color: red;
    opacity: 10px;
}

button:focus{
    background-color: lightyellow;
}
button:hover{
    background-color: lightgreen;
    opacity: 10px;
}
button:active{
    transform: scale(0.98);
}
input:focus{
    background-color: lightyellow;
}
input:hover{
    background-color: lightgreen;
    opacity: 10px;
}
select:hover{
    background-color: lightgreen;
    opacity: 10px;
}
option:hover{
    background-color: lightgreen;
    opacity: 10px;
}

textarea:hover{
    background-color: lightyellow;
    opacity: 10px;
}

fieldset:hover{
    background-color: lightgrey;
    opacity: 10px;
}
legend:hover{
    color: red;
    opacity: 10px;
}
hr:hover{
    border: 2px solid red;
    opacity: 10px;
}
a:visited{
    color: purple;
}
a:visited:hover{
    color: red;
    opacity: 10px;
}
button:focus{
    background-color: lightyellow;
}
button:hover{
    background-color: lightgreen;
    opacity: 10px;
}
button:active{
    transform: scale(0.98);
}
input:focus{
    background-color: lightyellow;
}
input:hover{
    background-color: lightgreen;
    opacity: 10px;
}
select:hover{
    background-color: lightgreen;
    opacity: 10px;
}

option:hover{
    background-color: lightgreen;
    opacity: 10px;
}
textarea:hover{
    background-color: lightyellow;
    opacity: 10px;
}
fieldset:hover{
    background-color: lightgrey;
    opacity: 10px;
}

legend:hover{
    color: red;
    opacity: 10px;
}

hr:hover{
    border: 2px solid red;
    opacity: 10px;
}
a:visited{
    color: purple;
}
a:visited:hover{
    color: red;
    opacity: 10px;
}

button:focus{
    background-color: lightyellow;
}

button:hover{
    background-color: lightgreen;
    opacity: 10px;
}

button:active{
    transform: scale(0.98);
}
input:focus{
    background-color: lightyellow;
}

input:hover{
    background-color: lightgreen;
    opacity: 10px;
}
select:hover{
    background-color: lightgreen;
    opacity: 10px;
}
option:hover{
    background-color: lightgreen;
    opacity: 10px;
}

textarea:hover{
    background-color: lightyellow;
    opacity: 10px;
}
fieldset:hover{
    background-color: lightgrey;
    opacity: 10px;
}

legend:hover{
    color: red;
    opacity: 10px;
}

hr:hover{
    border: 2px solid red;
    opacity: 10px;
}
a:visited{
    color: purple;
}
a:visited:hover{
    color: red;
    opacity: 10px;
}
button:focus{
    background-color: lightyellow;
}
button:hover{
    background-color: lightgreen;
    opacity: 10px;
}
button:active{
    transform: scale(0.98);
}

input:focus{
    background-color: lightyellow;
}
input:hover{
    background-color: lightgreen;
    opacity: 10px;
}
select:hover{
    background-color: lightgreen;
    opacity: 10px;
}
option:hover{
    background-color: lightgreen;
    opacity: 10px;
}
textarea:hover{
    background-color: lightyellow;
    opacity: 10px;
}
fieldset:hover{
    background-color: lightgrey;
    opacity: 10px;
}
legend:hover{
    color: red;
    opacity: 10px;
}
hr:hover{
    border: 2px solid red;
    opacity: 10px;
}
a:visited{
    color: purple;
}
a:visited:hover{
    color: red;
    opacity: 10px;
}
button:focus{
    background-color: lightyellow;
}
button:hover{
    background-color: lightgreen;
    opacity: 10px;
}
button:active{
    transform: scale(0.98);
}
input:focus{
    background-color: lightyellow;
}
input:hover{
    background-color: lightgreen;
    opacity: 10px;
}
select:hover{
    background-color: lightgreen;
    opacity: 10px;
}
option:hover{
    background-color: lightgreen;
    opacity: 10px;
}

textarea:hover{
    background-color: lightyellow;
    opacity: 10px;
}
fieldset:hover{
    background-color: lightgrey;
    opacity: 10px;
}

legend:hover{
    color: red;
    opacity: 10px;
}
hr:hover{
    border: 2px solid red;
    opacity: 10px;
}
a:visited{
    color: purple;
}
a:visited:hover{
    color: red;
    opacity: 10px;
}
button:focus{
    background-color: lightyellow;
}

button:hover{
    background-color: lightgreen;
    opacity: 10px;
}

button:active{
    transform: scale(0.98);
}
input:focus{
    background-color: lightyellow;
}
input:hover{
    background-color: lightgreen;
    opacity: 10px;
}
select:hover{
    background-color: lightgreen;
    opacity: 10px;
}
option:hover{
    background-color: lightgreen;
    opacity: 10px;
}
textarea:hover{
    background-color: lightyellow;
    opacity: 10px;
}

fieldset:hover{
    background-color: lightgrey;
    opacity: 10px;
}
legend:hover{
    color: red;
    opacity: 10px;
}
hr:hover{
    border: 2px solid red;
    opacity: 10px;
}

a:visited{
    color: purple;
}
a:visited:hover{
    color: red;
    opacity: 10px;
}
button:focus{
    background-color: lightyellow;
}
button:hover{
    background-color: lightgreen;
    opacity: 10px;
}
button:active{
    transform: scale(0.98);
}
input:focus{
    background-color: lightyellow;
}
input:hover{
    background-color: lightgreen;
    opacity: 10px;
}
select:hover{
    background-color: lightgreen;
    opacity: 10px;
}


option:hover{
    background-color: lightgreen;
    opacity: 10px;
}
textarea:hover{
    background-color: lightyellow;
    opacity: 10px;
}
fieldset:hover{
    background-color: lightgrey;
    opacity: 10px;
}


legend:hover{
    color: red;
    opacity: 10px;
}
hr:hover{
    border: 2px solid red;
    opacity: 10px;
}
a:visited{
    color: purple;
}


a:visited:hover{
    color: red;
    opacity: 10px;
}

button:focus{
    background-color: lightyellow;
}
button:hover{
    background-color: lightgreen;
    opacity: 10px;
}

button:active{
    transform: scale(0.98);
}
input:focus{
    background-color: lightyellow;
}
input:hover{
    background-color: lightgreen;
    opacity: 10px;
}
select:hover{
    background-color: lightgreen;
    opacity: 10px;
}
option:hover{
    background-color: lightgreen;
    opacity: 10px;
}


textarea:hover{
    background-color: lightyellow;
    opacity: 10px;
}



fieldset:hover{
    background-color: lightgrey;
    opacity: 10px;
}


legend:hover{
    color: red;
    opacity: 10px;
}
hr:hover{
    border: 2px solid red;
    opacity: 10px;
}
a:visited{
    color: purple;
}


a:visited:hover{
    color: red;
    opacity: 10px;
}

button:focus{
    background-color: lightyellow;
}
button:hover{
    background-color: lightgreen;
    opacity: 10px;
}
h3{
    text-align: center;
    color: white;
    background-color: blue;
}